
fontSize = 20px
btn-padding = 10px

body
  font-size: fontSize

.navigator
  width: 100%
  background-color: #FAFAFA

#menu-toggle
  display: none
  text-decoration: none
  color: inherit
  background-color: #BBDEFB
  padding: btn-padding

#menu-list
  list-style: none
  text-align: center
  li
    padding: btn-padding
    display: inline-block
    &:hover
      background-color: #BBDEFB
    a
      text-decoration: none
      color: inherit


@media screen and (max-width: 500px)
  #menu-toggle
    display: block
    float: right
  #menu-list
    display: none
    &.open
      display: block



